.titulo{
    left: 12%;
    color: coral;
    position: absolute;
}
body{
    background-color:lightblue;
}

.logo img{
    left: 65%;
    position: absolute;
    height: auto;

}
.categoria{
    position: absolute;
    height: -100%;
}