.titulo{
    left: 30%;
    position: absolute;
}
body{
    background-color:rgb(253, 254, 255);
}

.logo img{
    left: 70%;
    position: absolute;
    height: auto;

}
.categoria{
    position: absolute;
    height: auto;
    margin-top: 100px;
}