.titulo{
    left: 15%;
    position: absolute;
}
body{
    background-color:lightblue;
}

.logo img{
    left: 70%;
    position: absolute;
    height: auto;

}
.categoria{
    position: absolute;
    height: auto;
    margin-top: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}